.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  padding: 24px 215px 25px 215px;

  .header__link {
    text-decoration: none;
    transition: color var(--transition);
  }

  .header__nav {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .header__nav .header__contacts {
    display: flex;
    align-items: baseline;
    margin-left: 330px;
  }
}

.header__nav {
  .header__link {
    color: var(--link-color);
  }
  .header__link:nth-child(n + 2) {
    padding-top: 8px;
  }
  .header__contacts {
    padding-top: 8px;
  }
  .header__link {
    margin-left: 50px;
    position: relative;
  }

  .header__contacts .header__icon--smartphone {
    margin-left: 40px;
  }

  .header__contacts .header__link {
    margin-left: 0;
    color: #757575;
  }

  :first-child {
    margin-left: 0;
  }
  .header__link--active {
    color: var(--link-active-color);
  }
  .header__link:hover,
  .header__link:focus {
    color: var(--link-active-color);
    transition: color var(--transition);
    transition: background-color var(--transition);
  }
}

.header__contacts {
  .header__contacts--color-gray {
    color: #757575;
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--link-active-color);
      transition: color var(--transition);
      transition: background-color var(--transition);
    }
  }
  .header__icon--envelope:hover,
  .header__icon--envelope:focus {
    color: var(--link-active-color);
    transition: color var(--transition);
    transition: background-color var(--transition);
  }
  .header__icon--smartphone:hover,
  .header__icon--smartphone:focus {
    color: var(--link-active-color);
    transition: color var(--transition);
    transition: background-color var(--transition);
  }
}

.header__nav .logo:nth-child(2) {
  margin-right: 43px;
}

.header__link:not(:first-child):hover:after {
  display: block;
  transition: color var(--transition);
  transition: background-color var(--transition);
}

.header__link::after {
  display: none;
  position: absolute;
  content: "";
  background-color: var(--link-active-color);
  width: 42px;
  height: 3px;
  left: 0;
  bottom: -26px;
  width: 100%;
  border-radius: 2px;
}

.header__icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
